// fonts
$ff-1: "Manrope";
$ff-2: "Kizo";

$ff-root: $ff-1;
$fw-root: 600;

// breakpoints
$br-xxs: 320px;
$br-xs: 375px;
$br-s: 576px;
$br-m: 768px;
$br-t: 1024px;

$br: 1280px;

$br-l: 1366px;
$br-ll: 1440px;
$br-xl: 1680px;
$br-xxl: 1920px;

// grid
$col-count: 12;
$col-gap: 40px;
$col: calc((100% - (#{$col-gap} * (#{$col-count} - 1))) / #{$col-count});

// colors
:root {
  --color-main: #3670ff;
  --color-black: #1d212c;
  --color-white: #ffffff;
  --color-gray-dark: #a8aebb;
  --color-gray: #cbd0db;
  --color-gray-light: #edeff3;

  --color-root: var(--color-black);
}
