.arrow-link {
  display: flex;

  &__link {
    position: relative;

    padding: 0 40px 12px 0;
  }

  &__arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 1px;
    
    background-color: black;
  }
}


.block {
  display: flex;

  &__link {
    position: relative;

    padding: 0 40px 12px 0;
  }

  &__arrow {

  }
}
