@mixin button__button--small {
  padding: 0 24px;
  height: 36px;
}

.button {
  display: flex;

  &__button {
    padding: 0 28px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-blue);
    border-radius: 4px;
    font-size: 10px;
    line-height: (14 / 10);
    color: var(--color-white);
    white-space: nowrap;
    text-transform: uppercase;
    transition: background-color $transition;

    @media (min-width: $breakpoint-d) {
      font-size: 14px;
      line-height: (19 / 14);
    }

    &:hover {
      background-color: var(--color-blue-dark);
    }

    &--theme {
      &--dark {
        background-color: var(--color-black);

        &:hover {
          background-color: var(--color-gray-dark);
        }
      }
    }

    // test
    &--small {
      @include button__button--small();
    }

    // test
    &--custom {
      @media (min-width: $breakpoint-t) and (max-width: ($breakpoint-d - 1px)) {
        @include button__button--small();
      }
    }
  }
}
