.button {
  display: flex;

  &__button {
    padding: 15px;
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-blue);
    border-radius: 4px;
    font-size: 10px;
    line-height: (14 / 10);
    color: var(--color-white);
    text-transform: uppercase;
    transition: background-color $transition;

    &:hover {
      background-color: var(--color-blue-dark);
    }
  }
}
