.button {
  display: flex;

  &__button {
    padding: 0 28px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-blue);
    border-radius: 4px;
    font-size: 10px;
    line-height: (14 / 10);
    color: var(--color-white);
    white-space: nowrap;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color $transition;

    @media (min-width: $breakpoint-d) {
      font-size: 14px;
      line-height: (19 / 14);
    }

    &:hover {
      background-color: var(--color-blue-dark);
    }

    &--theme {
      &--dark {
        background-color: var(--color-black);

        &:hover {
          background-color: var(--color-gray-dark);
        }
      }
    }
  }
}
