.footer {
  padding: 48px 0;

  background-color: var(--color-gray-light);

  @media (min-width: $breakpoint-t) {
    background-image: url("assets/images/svg/logo-footer-background.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
  }

  @media (min-width: $breakpoint-d) {
    padding: 80px 0 64px;
  }

  @media (min-width: $breakpoint-xxd) {
    padding: 80px 0;
  }

  &__grid {
    @media (min-width: $breakpoint-t) {
      display: grid;
    }

    @media (min-width: $breakpoint-t) and (max-width: ($breakpoint-d - 1px)) {
      grid-template-columns:
        calc(#{$col-with-gap-t} * 3 - #{$col-gap-t} * 2) calc(
          #{$col-with-gap-t} * 2
        )
        1fr;
      grid-template-rows: repeat(2, auto 24px) repeat(2, auto);
      column-gap: $col-gap-t;
    }

    @media (min-width: $breakpoint-d) {
      grid-template-columns:
        repeat(2, calc(#{$col-with-gap-d} * 2 + #{$col-d})) calc(
          #{$col-with-gap-d} * 1 + #{$col-d} - #{$col-gap-d}
        )
        calc(#{$col-with-gap-d} * 2) 1fr;
      column-gap: $col-gap-d;
      row-gap: 84px;
    }

    @media (min-width: $breakpoint-xxd) {
      grid-template-columns:
        repeat(2, calc(#{$col-with-gap-d} * 2 + #{$col-d})) repeat(
          2,
          calc(#{$col-with-gap-d} * 2 - #{$col-gap-d})
        )
        1fr;
      row-gap: 80px;
    }

    &-item {
      @media (max-width: ($breakpoint-t - 1px)) {
        &:not(:last-child, :first-child) {
          margin-top: 24px;
        }
      }

      @media (max-width: ($breakpoint-d - 1px)) {
        &:last-child {
          margin-top: 2px;
        }
      }

      @media (min-width: $breakpoint-t) and (max-width: ($breakpoint-d - 1px)) {
        // about
        &:nth-child(2) {
          grid-area: 3 / 1;
        }

        // socials
        &:nth-child(3) {
          grid-area: 1 / 2;
        }

        // email
        &:nth-child(4) {
          grid-area: 3 / 2;
        }

        // button
        &:nth-child(5) {
          grid-area: 1 / 3;
        }

        // copyright
        &:nth-child(6) {
          grid-area: 5 / 1 / span 1 / span 2;
        }

        // policy
        &:nth-child(7) {
          grid-area: 5 / 2 / span 1 / span 2;
        }

        // company
        &:nth-child(8) {
          grid-area: 6 / 2 / span 1 / span 2;
        }
      }

      @media (min-width: $breakpoint-d) {
        // copyright
        &:nth-child(6) {
          grid-area: 2 / 1;
        }

        // policy
        &:nth-child(7) {
          grid-area: 2 / 2 / span 1 / span 2;
        }

        // company
        &:nth-child(8) {
          grid-area: 2 / 4 / span 1 / span 2;
        }
      }
    }
  }

  &__list {
    &-item {
      display: flex;

      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  &__link {
    font-size: 10px;
    line-height: (14 / 10);
    text-transform: uppercase;
    transition: color $transition;

    &:hover {
      color: var(--color-gray-dark);
    }

    @media (min-width: $breakpoint-d) {
      font-size: 18px;
      line-height: (25 / 18);
    }

    @media (min-width: $breakpoint-xxd) {
      font-size: 20px;
      line-height: (27 / 20);
    }

    &--small {
      font-size: 8px;
      line-height: (11 / 8);

      @media (min-width: $breakpoint-d) {
        font-size: 12px;
        line-height: (16 / 12);
      }
    }
  }

  &__button {
    width: 100%;

    @media (min-width: $breakpoint-t) {
      margin-left: auto;
      max-width: 288px;
    }

    @media (min-width: $breakpoint-d) {
      max-width: 172px;
    }
  }

  &__copyright {
    display: flex;

    color: var(--color-gray-dark);

    @media (min-width: $breakpoint-d) and (max-width: ($breakpoint-xxd - 1px)) {
      max-width: 175px;
    }
  }

  &__company {
    display: flex;

    &:hover {
      color: var(--color-black);
    }

    &-link {
      color: var(--color-blue);
    }
  }
}
