.footer {
  padding: 48px 0;

  background-color: var(--color-gray-light);

  @media (min-width: $breakpoint-d) {
    padding: 80px 0;
  }

  &__grid {
    &-item {
      &:not(:last-child, :first-child) {
        margin-top: 24px;
      }

      &:last-child {
        margin-top: 2px;
      }
    }
  }

  &__list {
    &-item {
      display: flex;

      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  &__link {
    font-size: 10px;
    line-height: (14 / 10);
    text-transform: uppercase;
    transition: color $transition;

    &:hover {
      color: var(--color-gray-dark);
    }

    &--small {
      font-size: 8px;
      line-height: (11 / 8);
    }
  }

  &__copyright {
    display: flex;

    color: var(--color-gray-dark);
  }

  &__company {
    display: flex;

    &:hover {
      color: var(--color-black);
    }

    &-link {
      color: var(--color-blue);
    }
  }
}
