.header {
  $component: &;
  $button-height: 36px;

  position: fixed;
  z-index: $z-index-header;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(0);

  padding: 16px 0;

  border-bottom: 1px solid transparent;
  transition: transform $transition, background-color $transition,
    border-color $transition;

  @media (min-width: $breakpoint-t) {
    padding: 20px 0;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: $col-gap-m;

    @media (min-width: $breakpoint-t) {
      column-gap: $col-gap-t;
    }

    @media (min-width: $breakpoint-d) {
      grid-template-columns: 1fr calc(#{$col-with-gap-d} * 4);
      column-gap: $col-gap-d;
    }

    @media (min-width: $breakpoint-xxd) {
      grid-template-columns: 1fr calc(#{$col-with-gap-d} * 4 - #{$col-gap-d});
    }
  }

  &__col {
    &:first-child {
      @media (min-width: $breakpoint-d) {
        display: flex;
      }
    }

    &:last-child {
      display: flex;

      @media (min-width: $breakpoint-t) {
        justify-content: flex-end;
      }

      @media (min-width: $breakpoint-d) {
        justify-content: space-between;
      }

      @media (min-width: $breakpoint-xxd) {
        justify-content: flex-start;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: flex-start;

    @media (min-width: $breakpoint-d) {
      width: calc((100% - #{$col-gap-d} * 6) / 4 + #{$col-gap-d});
    }

    @media (min-width: $breakpoint-xxd) {
      width: calc((100% - #{$col-gap-d} * 7) / 4 + #{$col-gap-d});
    }

    &-link {
      display: flex;
      align-items: flex-start;
    }

    &-svg {
      width: 36px;

      @media (min-width: $breakpoint-d) {
        width: 44px;
      }
    }
  }

  &__nav {
    margin-left: $col-gap-d;

    @media (max-width: ($breakpoint-d - 1px)) {
      display: none;
    }

    &--first-part {
      @media (min-width: $breakpoint-xd) {
        width: calc((100% - #{$col-gap-d} * 6) / 4 + #{$col-gap-d});
      }

      @media (min-width: $breakpoint-xxd) {
        width: calc((100% - #{$col-gap-d} * 7) / 4 + #{$col-gap-d});
      }
    }
  }

  &__list {
    &-item {
      display: flex;

      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }

  &__link {
    font-size: 12px;
    line-height: math.div(16, 12);
    color: var(--color-white);
    text-transform: uppercase;
    transition: color $transition;

    &:hover {
      color: var(--color-blue);
    }

    @media (min-width: $breakpoint-xxd) {
      font-size: 14px;
      line-height: math.div(19, 14);
    }
  }

  &__socials,
  &__email {
    @media (max-width: ($breakpoint-d - 1px)) {
      display: none;
    }
  }

  &__socials {
    @media (min-width: $breakpoint-xxd) {
      width: calc((100% - #{$col-gap-d} * 3) / 4);
    }
  }

  &__email {
    @media (min-width: $breakpoint-xxd) {
      margin-left: $col-gap-d;
    }
  }

  &__question-button {
    @media (min-width: $breakpoint-xxd) {
      margin-left: auto;
    }
  }

  &__button {
    height: $button-height;
    padding: 0 24px;

    @media (max-width: ($breakpoint-t - 1px)) {
      display: none;
    }

    @media (min-width: $breakpoint-d) {
      padding: 0 28px;
    }
  }

  &__mobile-button {
    width: $button-height;
    display: flex;
    align-items: flex-start;

    @media (min-width: $breakpoint-t) {
      display: none;
    }

    & + & {
      margin-left: 8px;

      @media (min-width: $breakpoint-t) and (max-width: ($breakpoint-d - 1px)) {
        margin-left: 12px;
        display: flex;
      }
    }
  }

  &--theme {
    &--dark {
      #{$component}__logo-svg {
        path {
          fill: var(--color-black);
        }
      }

      #{$component}__link:not(:hover) {
        color: var(--color-black);
      }
    }
  }

  &--hide {
    transform: translateY(-100%);

    & ~ main {
      .page-template__aside-container {
        @media (min-width: $breakpoint-d) {
          top: $col-gap-d;
        }
      }

      .page__aside-content {
        @media (min-width: $breakpoint-d) {
          top: $col-gap-d;
        }
      }
    }
  }

  &--scroll {
    background-color: var(--color-white);
    border-bottom-color: var(--color-gray-light);

    #{$component}__logo-svg {
      path {
        fill: var(--color-black);
      }
    }

    #{$component}__link:not(:hover) {
      color: var(--color-black);
    }
  }
}
