.themes {
  &__title {
    margin-bottom: 8px;

    @media (min-width: $breakpoint-d) {
      margin-bottom: 20px;
    }
  }
}

.label {
  font-size: 12px;
  line-height: (16 / 12);
  color: var(--color-gray-dark);
  text-transform: uppercase;

  @media (min-width: $breakpoint-d) {
    font-size: 16px;
    line-height: (22 / 16);
  }
}

.news-block {
  &:not(:first-child) {
    margin-top: 48px;

    @media (min-width: $breakpoint-d) {
      margin-top: 80px;
    }
  }

  &__label {
    margin-bottom: 4px;

    @media (min-width: $breakpoint-d) {
      margin-bottom: 20px;
    }
  }

  &__top {
    @media (min-width: $breakpoint-d) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__link {
    @media (max-width: ($breakpoint-d - 1px)) {
      margin-top: 12px;
    }

    @media (min-width: $breakpoint-d) {
      flex-shrink: 0;
    }
  }

  &__content {
    margin-top: 20px;

    @media (min-width: $breakpoint-d) {
      margin-top: 40px;
    }

    &--margin {
      &--alt {
        margin-top: 16px;

        @media (min-width: $breakpoint-d) {
          margin-top: 40px;
        }
      }
    }
  }

  &__top-card {
    margin-bottom: 16px;

    @media (min-width: $breakpoint-d) {
      margin-bottom: 20px;
    }
  }

  &__pagination {
    margin-top: 28px;

    @media (min-width: $breakpoint-d) {
      margin-top: 60px;
    }
  }
}

.news-list {
  @media (min-width: $breakpoint-t) {
    display: grid;
    grid-template-columns: repeat(
      2,
      calc(#{$col-with-gap-t} * 4 - #{$col-gap-t})
    );
    column-gap: $col-gap-t;
  }

  @media (min-width: $breakpoint-d) {
    column-gap: $col-gap-d;
    grid-template-columns: repeat(2, calc((100% - #{$col-gap-d}) / 2));
  }
}

.news-item {
  $component: &;

  display: grid;
  grid-template-rows: auto 1fr auto;

  &:hover {
    #{$component}__title {
      color: var(--color-blue);
    }
  }

  &__title {
    margin: 12px 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.34;
    transition: color $transition;

    @media (min-width: $breakpoint-d) {
      font-size: 20px;
      line-height: 1.3;
    }
  }

  &__date {
    font-size: 10px;
    line-height: (14 / 10);
    color: var(--color-gray-dark);
    text-transform: uppercase;

    @media (min-width: $breakpoint-d) {
      font-size: 14px;
      line-height: (19 / 14);
    }
  }

  &--news-list {
    position: relative;

    padding: 12px 0;

    border-bottom: 1px solid var(--color-gray);

    &:first-child {
      border-top: 1px solid var(--color-gray);
    }

    @media (max-width: ($breakpoint-t - 1px)) {
      display: block;
    }

    @media (min-width: $breakpoint-t) {
      padding: 16px $col-gap-t 16px 0;
      min-height: 149px;

      &:nth-child(even):not(:first-child) {
        &::after {
          $offset: 8px;

          position: absolute;
          top: $offset;
          bottom: $offset;
          left: -$col-gap-t;

          @media (min-width: $breakpoint-d) {
            left: -$col-gap-d;
          }

          content: "";
          width: 1px;

          background-color: var(--color-gray);
        }
      }

      &:nth-child(2) {
        border-top: 1px solid var(--color-gray);
      }

      &:nth-child(even) {
        &::before {
          position: absolute;
          top: -1px;
          bottom: -1px;
          left: 0;
          transform: translateX(-100%);

          content: "";
          width: $col-gap-t;

          border-top: 1px solid var(--color-gray);
          border-bottom: 1px solid var(--color-gray);
        }
      }
    }

    @media (min-width: $breakpoint-d) {
      padding: 20px $col-gap-d 20px 0;
      min-height: 187px;

      &:nth-child(even) {
        &::before {
          width: $col-gap-d;
        }
      }
    }
  }

  &--top-card {
    padding: 16px;
    min-height: 135px;

    @media (min-width: $breakpoint-t) {
      padding: 16px $col-gap-t;
      min-height: 180px;
    }

    @media (min-width: $breakpoint-d) {
      padding: 20px $col-gap-d;
      min-height: 190px;
    }

    @media (min-width: $breakpoint-xd) {
      min-height: 205px;
    }

    @media (min-width: $breakpoint-xxd) {
      min-height: 258px;
    }
  }
}

.pin {
  display: flex;

  &__button {
    padding: 0 8px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--color-gray);
    border-radius: 4px;
    font-size: 10px;
    line-height: (14 / 10);
    color: var(--color-gray-dark);
    white-space: nowrap;
    text-transform: uppercase;
    transition: color $transition, background-color $transition,
      border-color $transition;

    @media (min-width: $breakpoint-d) {
      height: 26px;

      font-size: 14px;
      line-height: (19 / 14);
    }

    &:hover {
      background-color: var(--color-blue);
      border-color: var(--color-blue);
      color: var(--color-white);
    }
  }
}

.top-card {
  $component: &;

  display: block;
  overflow: hidden;

  background-color: var(--color-gray-light);
  border-radius: 4px;

  &:hover {
    #{$component}__title {
      color: var(--color-blue);
    }
  }

  @media (min-width: $breakpoint-t) {
    display: grid;
    grid-template-columns: calc(#{$col-with-gap-t} * 4 - #{$col-gap-t}) calc(
        #{$col-with-gap-t} * 4
      );
  }

  @media (min-width: $breakpoint-d) {
    grid-template-columns: calc((100% - #{$col-gap-d}) / 2) calc(
        (100% - #{$col-gap-d}) / 2 + #{$col-gap-d}
      );
  }

  &__image-block {
    position: relative;

    display: flex;

    @media (max-width: ($breakpoint-t - 1px)) {
      height: 146px;
    }
  }

  &__image {
    position: absolute;
    @include inset();

    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    object-fit: cover;
    object-position: top;

    border-radius: 4px;
  }
}

.socials {
  $component: &;

  padding: $col-gap-m;

  background-color: var(--color-gray-light);
  border-radius: 4px;

  @media (min-width: $breakpoint-t) {
    padding: $col-gap-t;
  }

  &__row {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 4px * 2) / 3));
    column-gap: 4px;

    @media (min-width: $breakpoint-t) {
      margin-top: 20px;
      grid-template-columns: repeat(3, calc((100% - 8px * 2) / 3));
      column-gap: 8px;
    }

    @media (min-width: $breakpoint-d) {
      grid-template-columns: repeat(3, calc((100% - 9px * 2) / 3));
      column-gap: 9px;
    }
  }

  &__item {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-white);
    border-radius: 4px;
    transition: background-color $transition;

    @media (min-width: $breakpoint-t) {
      height: 40px;
    }

    svg {
      path {
        transition: fill $transition;
      }
    }

    &:hover {
      background-color: var(--color-blue);

      #{$component}__text {
        color: var(--color-white);
      }

      svg {
        path {
          fill: var(--color-white);
        }
      }
    }
  }

  &__text {
    margin-left: 4px;

    font-weight: 500;
    font-size: 10px;
    line-height: (14 / 10);
    transition: color $transition;

    @media (min-width: $breakpoint-t) {
      font-size: 12px;
      line-height: (16 / 12);
    }
  }

  &__vk {
    @media (max-width: ($breakpoint-t - 1px)) {
      width: 16px;
      height: 11px;
    }
  }

  &__fb {
    @media (max-width: ($breakpoint-t - 1px)) {
      width: 14px;
      height: 14px;
    }
  }

  &__tg {
    @media (max-width: ($breakpoint-t - 1px)) {
      width: 14px;
      height: 14px;
    }
  }

  &--margin {
    &--default {
      margin-top: 48px;

      @media (min-width: $breakpoint-d) {
        margin-top: 40px;
      }
    }
  }

  &--main {
    @media (min-width: $breakpoint-t) and (max-width: ($breakpoint-d - 1px)) {
      grid-area: 2 / 1 / span 1 / span 8;
    }
  }

  &--publications {
    #{$component}__row {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 8px;
      column-gap: 8px;
      @media (min-width: $breakpoint-t) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

.form {
  @mixin checkbox-hidden {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 0;
    height: 0;
    visibility: hidden;
    pointer-events: none;

    opacity: 0;
  }

  display: grid;

  @media (max-width: ($breakpoint-d - 1px)) {
    grid-template-rows: auto 14px auto 14px auto 20px auto 12px auto 10px;
  }

  @media (max-width: ($breakpoint-t - 1px)) {
    grid-template-rows: auto 8px auto 8px auto 28px auto 12px auto 10px;
  }

  @media (min-width: $breakpoint-d) {
    grid-template-columns: repeat(2, calc((100% - 13px) / 2));
    column-gap: 13px;
    row-gap: 8px;
  }

  & > * {
    @media (max-width: ($breakpoint-d - 1px)) {
      @for $i from 1 to 6 + 1 {
        &:nth-child(#{$i}) {
          grid-row-start: #{$i * 2 - 1};
        }
      }
    }

    @media (min-width: $breakpoint-d) {
      @for $i from 1 to 3 + 1 {
        &:nth-child(#{$i}) {
          grid-area: #{$i} / 1 / span 1 / span 1;
        }
      }

      @for $i from 4 to 6 + 1 {
        &:nth-child(#{$i}) {
          grid-area: #{$i - 3} / 2 / span 1 / span 1;
        }
      }
    }
  }

  &__checkbox {
    position: relative;

    display: block;

    &-input {
      @include checkbox-hidden();

      &:checked {
        + .form__checkbox-block {
          border-color: var(--color-blue);

          .form__mark {
            border-color: var(--color-blue);
            background-color: var(--color-blue);
          }
        }
      }
    }

    &-mark {
      margin-right: 8px;
    }

    &-block {
      padding: 0 8px;
      height: 36px;
      display: flex;
      align-items: center;

      border: 1px solid var(--color-gray);
      border-radius: 4px;
      cursor: pointer;
      transition: border-color $transition;

      @media (min-width: $breakpoint-d) {
        padding: 0 12px;
        height: 44px;
      }

      &:hover {
        border-color: var(--color-blue);

        .form__checkbox-mark {
          border-color: var(--color-blue);
        }
      }
    }

    &-text {
      font-weight: 500;
      font-size: 12px;
      line-height: (16 / 12);

      @media (min-width: $breakpoint-d) {
        font-size: 14px;
        line-height: (19 / 14);
      }
    }
  }

  &__mark {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--color-gray);
    border-radius: 2px;
    transition: border-color $transition, background-color $transition;
  }

  &__field {
    padding: 0 10px;
    height: 40px;

    border: 1px solid var(--color-gray);
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: (16 / 12);
    transition: border-color $transition;

    &:focus {
      border-color: var(--color-blue);
    }
  }

  &__agree {
    position: relative;

    display: flex;

    cursor: pointer;

    &-input {
      @include checkbox-hidden();

      &:checked {
        + .form__mark {
          border-color: var(--color-blue);
          background-color: var(--color-blue);
        }
      }
    }

    &-text {
      font-weight: 500;
      font-size: 10px;
      line-height: (14 / 10);
    }

    &-link {
      color: var(--color-blue);
    }

    &-mark {
      margin-right: 8px;
    }
  }

  &__submit {
    width: 100%;
  }

  &--margin {
    &--dafault {
      @media (max-width: ($breakpoint-t - 1px)) {
        margin-top: 8px;
      }

      @media (min-width: $breakpoint-d) {
        margin-top: 20px;
      }
    }
  }

  &--main {
    @media (min-width: $breakpoint-t) and (max-width: ($breakpoint-d - 1px)) {
      grid-area: 1 / span 4 / span 1 / -1;
    }
  }
}

.banner {
  position: relative;

  padding: 16px;
  height: 136px;
  display: flex;
  align-items: flex-end;

  background-image: url("assets/images/banner-photo.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 4px;

  @media (min-width: $breakpoint-d) {
    padding: 20px;
    height: 175px;
  }

  &__title {
    max-width: 90px;

    color: var(--color-white);

    @media (min-width: $breakpoint-d) {
      max-width: 140px;
    }
  }

  &__pin {
    position: absolute;
    top: 16px;
    left: 16px;

    padding-top: 8px;
    $size: 35px;
    width: $size;
    height: $size;
    display: flex;
    justify-content: center;

    background-color: var(--color-white);
    border-radius: 2px;
    font-family: $ff-2;
    font-weight: 400;
    font-size: 30px;
    line-height: 0.85;
    color: #6a768d;
    text-transform: uppercase;

    @media (min-width: $breakpoint-d) {
      top: 20px;
      left: 20px;
    }
  }

  &__logo {
    position: absolute;
    top: 16px;
    right: 16px;

    @media (max-width: ($breakpoint-t - 1px)) {
      display: none;
    }

    @media (min-width: $breakpoint-d) {
      top: 20px;
      right: 20px;
    }
  }

  &--main {
    @media (min-width: $breakpoint-t) and (max-width: ($breakpoint-d - 1px)) {
      grid-area: 1 / 1 / span 1 / span 4;
    }
  }
}

.breadcrumbs {
  --breadcrumbs-column-gap: 21px;
  --breadcrumbs-row-gap: 8px;

  @media (max-width: ($breakpoint-t - 1px)) {
    margin: 0 (-$col-gap-m);
    display: flex;
    overflow-x: auto;
    @include scrollbar-hidden();
    -webkit-overflow-scrolling: touch;
  }

  @media (min-width: $breakpoint-t) {
    overflow-x: hidden;
  }

  @media (min-width: $breakpoint-d) {
    --breadcrumbs-column-gap: 40px;
    --breadcrumbs-row-gap: 12px;
  }

  &__list {
    display: flex;
    align-items: center;

    @media (max-width: ($breakpoint-t - 1px)) {
      padding: 0 $col-gap-m;
    }

    @media (min-width: $breakpoint-t) {
      margin-top: calc(-1 * var(--breadcrumbs-row-gap));
      margin-left: calc(-1 * var(--breadcrumbs-column-gap));
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;

    &:not(:first-child) {
      &::before {
        position: absolute;
        top: 50%;
        left: calc(-1 * (var(--breadcrumbs-column-gap) / 2));
        transform: translate(-50%, -50%);

        content: ">";

        font-size: 7.5px;
        line-height: (10 / 7.5);
        color: var(--color-gray-dark);
        text-transform: uppercase;

        @media (min-width: $breakpoint-d) {
          font-size: 12px;
          line-height: (16 / 12);
        }
      }
    }

    @media (max-width: ($breakpoint-t - 1px)) {
      &:not(:first-child) {
        margin-left: 21px;
      }
    }

    @media (min-width: $breakpoint-t) {
      margin-top: var(--breadcrumbs-row-gap);
      margin-left: var(--breadcrumbs-column-gap);
    }
  }

  &__link {
    display: flex;

    font-size: 8px;
    line-height: (11 / 8);
    white-space: nowrap;
    text-transform: uppercase;
    transition: color $transition;

    @at-root {
      a#{&}:hover {
        color: var(--color-blue);

        .breadcrumbs__logo {
          path {
            fill: var(--color-blue);
          }
        }
      }
    }

    @media (min-width: $breakpoint-d) {
      font-size: 12px;
      line-height: (16 / 12);
    }
  }

  &__logo {
    width: 9px;
    height: 10px;

    @media (min-width: $breakpoint-d) {
      width: 14px;
      height: 15px;
    }

    path {
      fill: var(--color-gray-dark);
      transition: fill $transition;
    }
  }
}

.choice {
  $component: &;

  --choice-button-size: 26px;

  @media (min-width: $breakpoint-d) {
    --choice-button-size: 56px;
  }

  &--open {
    #{$component}__button {
      background-color: var(--color-blue);
    }

    #{$component}__arrow-svg {
      transform: rotate(180deg);

      path {
        stroke: var(--color-white);
      }
    }
  }

  &__panel {
    display: flex;

    cursor: pointer;

    &:hover {
      #{$component}__button {
        background-color: var(--color-blue);
      }

      #{$component}__arrow-svg {
        path {
          stroke: var(--color-white);
        }
      }
    }

    &-wrapper {
      display: flex;
    }
  }

  &__drop {
    height: 0;
    overflow: hidden;

    transition: height $transition;

    margin: 0 (-$col-gap-m);

    @media (min-width: $breakpoint-t) {
      margin: 0 (-$col-gap-t);
    }

    @media (min-width: $breakpoint-d) {
      margin: 0 (-$col-gap-d);
    }

    &-content {
      padding-top: 16px;

      @media (min-width: $breakpoint-d) {
        padding-top: 40px;
      }
    }
  }

  &__item {
    display: flex;

    @media (max-width: ($breakpoint-t - 1px)) {
      &:not(:first-child) {
        margin-left: 10px !important;
      }
    }

    @media (min-width: $breakpoint-t) {
      margin-left: 10px !important;
    }

    @media (min-width: $breakpoint-d) {
      margin-left: 20px !important;
    }
  }

  &__list {
    @media (min-width: $breakpoint-t) {
      margin-left: -10px !important;
    }

    @media (min-width: $breakpoint-d) {
      margin-left: -20px !important;
    }
  }

  &__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.3;
    white-space: nowrap;
    transition: color $transition;

    @media (min-width: $breakpoint-d) {
      font-size: 16px;
    }

    &:hover,
    &--active {
      color: var(--color-blue);
    }

    &--rubrics {
      font-size: 18px;
      line-height: 1.4;

      @media (min-width: $breakpoint-d) {
        font-size: 22px;
        line-height: 1.3;
      }
    }
  }

  &__button {
    margin-top: 3px;
    margin-left: 8px;
    width: var(--choice-button-size);
    height: var(--choice-button-size);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-gray-dark);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color $transition;

    @media (min-width: $breakpoint-d) {
      margin-top: 6px;
      margin-left: 16px;

      border-radius: 4px;
    }
  }

  &__arrow-svg {
    transform: rotate(0);
    transition: transform $transition;

    path {
      transition: stroke $transition;
    }

    @media (max-width: ($breakpoint-d - 1px)) {
      width: 8px;
      height: 4px;
    }
  }
}

.pagination {
  $component: &;

  @media (min-width: $breakpoint-t) {
    display: flex;
    justify-content: space-between;
  }

  &__next {
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--color-gray);
    border-radius: 4px;
    transition: border-color $transition, background-color $transition;

    @media (min-width: $breakpoint-t) {
      width: 288px;
      order: 1;
    }

    @media (min-width: $breakpoint-d) {
      width: 370px;
    }

    @media (min-width: $breakpoint-d) {
      height: 68px;
    }

    &-svg {
      pointer-events: none;

      transition: opacity $transition;

      path {
        transition: fill $transition;
      }

      &--default {
        @media (min-width: $breakpoint-d) {
          display: none;
        }
      }

      &--large {
        @media (max-width: ($breakpoint-d - 1px)) {
          display: none;
        }
      }
    }

    &:not(&--disabled):hover {
      border-color: var(--color-blue);
      background-color: var(--color-blue);

      #{$component}__next-svg {
        path {
          fill: var(--color-white);
        }
      }
    }

    &--disabled {
      #{$component}__next-svg {
        opacity: 0.5;
      }
    }

    &--back {
      .pagination__next-svg {
        transform: rotate(180deg);
      }
    }
  }

  &__page {
    padding: 0 5px;
    height: 36px;
    min-width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--color-gray);
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: (16 / 12);
    transition: border-color $transition, background-color $transition,
      color $transition;

    @media (min-width: $breakpoint-t) {
      height: 44px;
      min-width: 44px;
      padding: 0 10px;
    }

    @media (min-width: $breakpoint-d) {
      height: 68px;
      min-width: 68px;
      padding: 0 10px;

      font-size: 18px;
      line-height: (25 / 18);
    }

    &--active,
    &:hover {
      border-color: var(--color-blue);
    }

    &--active {
      background-color: var(--color-blue);
      color: var(--color-white);
    }

    &-wrapper {
      display: flex;
    }
  }

  &__pages {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 8px;

    @media (max-width: ($breakpoint-t - 1px)) {
      margin-top: 12px;
    }
  }

  &__left {
    display: flex;

    &-item {
      &:not(:first-child) {
        margin-left: 8px;
      }
    }
  }

  &__between {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    pointer-events: none;

    font-weight: normal;
    font-size: 12px;
    line-height: (16 / 12);
    text-transform: uppercase;

    @media (min-width: $breakpoint-t) {
      width: 98px;
    }

    @media (min-width: $breakpoint-d) {
      width: 68px;

      font-size: 18px;
      line-height: (25 / 18);
    }
  }
}

.features {
  $component: &;

  @media (min-width: $breakpoint-t) {
    display: grid;
    grid-template-columns: calc(#{$col-with-gap-t} * 4 - #{$col-gap-t}) calc(
        #{$col-with-gap-t} * 4
      );
  }

  @media (min-width: $breakpoint-d) {
    display: grid;
    grid-template-columns: repeat(3, calc(#{$col-with-gap-d} * 3)) calc(
        #{$col-with-gap-d} * 3 - #{$col-gap-d}
      );
  }

  &__item {
    position: relative;

    padding: 12px 0;
    min-height: 112px;

    @media (max-width: ($breakpoint-t - 1px)) {
      border-top: 1px solid var(--color-gray);

      &:last-child {
        border-bottom: 1px solid var(--color-gray);
      }
    }

    @media (min-width: $breakpoint-t) and (max-width: ($breakpoint-d - 1px)) {
      padding: 20px 0;
      min-height: 162px;

      border-bottom: 1px solid var(--color-gray);

      &:nth-child(-n + 2) {
        border-top: 1px solid var(--color-gray);
      }

      &:nth-child(even) {
        padding-left: $col-gap-t;

        &::before {
          position: absolute;
          top: 8px;
          bottom: 8px;
          left: 0;

          content: "";
          width: 1px;

          background-color: var(--color-gray);
        }
      }
    }

    @media (max-width: ($breakpoint-d - 1px)) {
      &:nth-child(1) {
        #{$component}__image {
          max-width: 60px;
        }
      }
      &:nth-child(2) {
        #{$component}__image {
          max-width: 101px;
        }
      }
      &:nth-child(3),
      &:nth-child(4) {
        #{$component}__image {
          max-width: 63px;
        }
      }
    }

    @media (min-width: $breakpoint-d) {
      padding: 32px;
      min-height: 310px;

      border-top: 1px solid var(--color-gray);
      border-bottom: 1px solid var(--color-gray);

      &::before {
        position: absolute;
        top: 8px;
        bottom: 8px;
        left: 0;

        content: "";
        width: 1px;

        background-color: var(--color-gray);
      }

      &:last-child {
        &::after {
          position: absolute;
          top: 8px;
          bottom: 8px;
          right: 0;

          content: "";
          width: 1px;

          background-color: var(--color-gray);
        }
      }
    }
  }

  &__text {
    max-width: calc(#{$col-with-gap-m} * 2 - #{$col-gap-m});

    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;

    @media (min-width: $breakpoint-d) {
      max-width: 244px;

      font-size: 18px;
    }

    @media (min-width: $breakpoint-xxd) {
      font-size: 20px;
    }
  }

  &__image {
    position: absolute;
    bottom: 12px;
    right: 0;

    height: auto;

    @media (min-width: $breakpoint-t) {
      bottom: 20px;
      right: 20px;
    }

    @media (min-width: $breakpoint-d) {
      bottom: 32px;
      right: 32px;
    }
  }
}

.card {
  position: relative;
  z-index: 0;

  padding: 40px 12px;

  background-color: var(--color-gray-background);
  border-radius: 4px;

  @media (min-width: $breakpoint-d) {
    padding-top: 80px;
    padding-bottom: 80px;

    background-color: var(--color-gray-light);
  }

  &__text {
    margin: 0 auto;
    max-width: 264px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;

    @media (min-width: $breakpoint-t) {
      max-width: 580px;

      font-size: 16px;
    }

    @media (min-width: $breakpoint-d) {
      max-width: 1036px;

      font-size: 28px;
    }

    @media (min-width: $breakpoint-xxd) {
      font-size: 32px;
    }
  }

  &__title {
    margin-top: 40px;

    text-align: center;

    @media (min-width: $breakpoint-d) {
      margin-top: 60px;
    }
  }

  &__list {
    margin-top: calc(8px - 6px);
    margin-left: -6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: $breakpoint-d) {
      margin-top: calc(32px - 10px);
      margin-left: -10px;
    }
  }

  &__item {
    margin-top: 6px;
    margin-left: 6px;
    padding: 0 10px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    font-size: 8px;
    line-height: (11 / 8);
    white-space: nowrap;
    text-transform: uppercase;
    transition: border-color $transition;

    &:hover {
      border-color: var(--color-blue);
    }

    @media (min-width: $breakpoint-d) {
      margin-top: 10px;
      margin-left: 10px;
      padding: 0 30px;
      height: 54px;

      font-weight: 500;
      font-size: 16px;
      line-height: (22 / 16);
    }
  }

  &__quote {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 17px;

    display: flex;
    pointer-events: none;

    @media (min-width: $breakpoint-t) {
      left: 60px;
    }

    @media (max-width: ($breakpoint-d - 1px)) {
      max-width: 85px;
    }

    @media (min-width: $breakpoint-d) {
      left: 52px;
    }

    @media (min-width: $breakpoint-xxd) {
      left: 137px;
    }

    @media (min-width: $breakpoint-xxxd) {
      left: 257px;
    }
  }

  &__logo {
    position: absolute;
    z-index: -1;
    bottom: 32px;
    right: 32px;

    display: flex;
    pointer-events: none;

    @media (max-width: ($breakpoint-d - 1px)) {
      display: none;
    }
  }
}

.about-top {
  position: relative;

  padding: 72px 0 40px;

  background-color: var(--color-gray-background);

  @media (min-width: $breakpoint-t) {
    padding-top: 80px;
  }

  @media (min-width: $breakpoint-d) {
    padding: 132px 0 100px;
  }

  @media (min-width: $breakpoint-xxd) {
    padding-top: 136px;
  }

  @media (min-width: $breakpoint-xxxd) {
    padding-top: 144px;
  }

  &__title {
    font-size: 62px;
    color: var(--color-white);
    text-align: center;

    @media (max-width: ($breakpoint-t - 1px)) {
      line-height: 1;
    }

    @media (min-width: $breakpoint-t) {
      font-size: 158px;
    }

    @media (min-width: $breakpoint-d) {
      font-size: 260px;
    }

    @media (min-width: $breakpoint-xd) {
      font-size: 278px;
    }

    @media (min-width: $breakpoint-xxd) {
      font-size: 348px;
    }

    @media (min-width: $breakpoint-xxxd) {
      font-size: 396px;
    }

    &-block {
      justify-content: center;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;

    @media (min-width: $breakpoint-t) {
      font-size: 16px;
    }

    @media (min-width: $breakpoint-d) {
      font-size: 22px;
    }

    @media (min-width: $breakpoint-xxd) {
      font-size: 24px;
    }
  }

  &__contacts {
    @media (min-width: $breakpoint-t) and (max-width: ($breakpoint-d - 1px)) {
      margin-left: auto;
      max-width: 288px;
    }

    @media (min-width: $breakpoint-d) {
      max-width: 467px;
    }
  }

  &__sub-title {
  }

  &__list {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 6px * 2) / 3));
    column-gap: 6px;

    @media (min-width: $breakpoint-d) {
      margin-top: 40px;
      grid-template-columns: repeat(3, calc((100% - 10px * 2) / 3));
      column-gap: 10px;
    }
  }
  &__item {
    display: flex;
  }

  &__link {
    $element: &;

    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-white);
    border-radius: 4px;
    transition: background-color $transition;

    @media (min-width: $breakpoint-d) {
      height: 40px;
    }

    &:hover {
      background-color: var(--color-blue);

      #{$element}-svg {
        path {
          fill: var(--color-white);
        }
      }

      #{$element}-text {
        color: var(--color-white);
      }
    }

    &-svg {
      path {
        transition: fill $transition;
      }

      &--vk {
        @media (max-width: ($breakpoint-d - 1px)) {
          width: 16px;
          height: 10px;
        }
      }

      &--fb {
        @media (max-width: ($breakpoint-d - 1px)) {
          width: 14px;
          height: 14px;
        }
      }

      &--tg {
        @media (max-width: ($breakpoint-d - 1px)) {
          width: 14px;
          height: 14px;
        }
      }
    }

    &-text {
      margin-left: 4px;

      font-weight: 500;
      font-size: 10px;
      line-height: (14 / 10);
      transition: color $transition;

      @media (min-width: $breakpoint-d) {
        margin-left: 8px;
        padding-bottom: 2px;

        font-size: 14px;
        line-height: (19 / 14);
      }
    }
  }

  &__email {
    margin-top: 12px;
    display: flex;

    @media (min-width: $breakpoint-d) {
      margin-top: 20px;
    }

    &-link {
      font-weight: 500;
      font-size: 10px;
      line-height: (14 / 10);
      text-decoration-line: underline;
      text-transform: uppercase;
      transition: color $transition;

      &:hover {
        color: var(--color-blue);
      }

      @media (min-width: $breakpoint-d) {
        font-size: 16px;
      }

      @media (min-width: $breakpoint-xd) {
        font-size: 18px;
      }
    }
  }

  &__photo {
    position: absolute;
    top: 114px;
    left: 50%;
    transform: translateX(-50%);

    max-width: 146px;

    border-radius: 4px;

    @media (min-width: $breakpoint-t) {
      top: 189px;

      max-width: 207px;
    }

    @media (min-width: $breakpoint-d) {
      top: 308px;

      max-width: 387px;
    }

    @media (min-width: $breakpoint-xd) {
      max-width: 402px;
    }

    @media (min-width: $breakpoint-xxd) {
      top: 355px;

      max-width: 500px;
    }

    @media (min-width: $breakpoint-xxxd) {
      top: 391px;

      max-width: 580px;
    }
  }

  &__bottom {
    margin-top: 158px;

    @media (min-width: $breakpoint-t) {
      margin-top: 231px;
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: $breakpoint-d) {
      margin-top: 44px;
    }

    @media (min-width: $breakpoint-xxd) {
      margin-top: 49px;
    }

    @media (min-width: $breakpoint-xxxd) {
      margin-top: 60px;
    }
  }

  &__left,
  &__right {
    @media (min-width: $breakpoint-t) {
      width: calc((100% - #{$col-gap-t}) / 2);
    }

    @media (min-width: $breakpoint-d) {
      width: calc((100% - #{$col-gap-d} * 2) / 3);
    }
  }

  &__left {
  }
  &__right {
    @media (max-width: ($breakpoint-t - 1px)) {
      margin-top: 24px;
    }

    @media (min-width: $breakpoint-t) and (max-width: ($breakpoint-d - 1px)) {
      margin-left: $col-gap-t;
    }

    @media (min-width: $breakpoint-d) {
      padding-top: 184px;
    }

    @media (min-width: $breakpoint-xxd) {
      padding-top: 275px;
    }

    @media (min-width: $breakpoint-xxxd) {
      padding-top: 338px;
    }
  }
}

.slider {
  $component: &;
  $duration: 1s;

  overflow: hidden;

  &__top {
  }

  &__bottom {
    margin-top: 12px;

    @media (min-width: $breakpoint-t) {
      display: flex;
    }

    @media (min-width: $breakpoint-d) {
      margin-top: 55px;
    }

    @media (min-width: $breakpoint-xxxd) {
      justify-content: space-between;
    }
  }

  &__years {
    display: flex;

    &-item {
      &:not(:first-child) {
        margin-left: 24px;

        @media (min-width: $breakpoint-d) {
          margin-left: 52px;
        }
      }
    }

    &-wrapper {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;

      @include scrollbar-hidden();
    }
  }

  &__year {
    $element: &;

    position: relative;

    padding: 6px 0;
    width: 30px;

    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      right: -12px;
      transform: translateY(-50%);

      content: "";
      width: 1px;
      height: 18px;

      background-color: var(--color-gray);
    }

    &:hover {
      #{$element}-text {
        color: var(--color-blue);
      }
    }

    @media (min-width: $breakpoint-d) {
      padding: 0;
      width: 45px;

      &::before {
        right: -26px;
      }
    }

    &-text {
      font-family: $ff-2;
      font-weight: 400;
      font-size: 26px;
      line-height: 0.85;
      text-transform: uppercase;
      transition: color $transition;

      @media (min-width: $breakpoint-d) {
        font-size: 40px;
      }
    }

    &--last {
      &::before {
        display: none;
      }
    }

    &--active {
      #{$element}-text {
        color: var(--color-blue);
      }
    }
  }

  &__photo,
  &__content {
    @media (min-width: $breakpoint-t) {
      width: calc((100% - #{$col-gap-t}) / 2);
    }
  }

  &__photo {
    @media (min-width: $breakpoint-d) {
      width: calc(#{$col-with-gap-d} * 4);
    }

    @media (min-width: $breakpoint-xxd) {
      width: calc(#{$col-with-gap-d} * 4 + #{$col-d});
    }

    @media (min-width: $breakpoint-xxxd) {
      width: auto;
    }
  }

  &__content {
    position: relative;

    padding-top: 69px;

    @media (max-width: ($breakpoint-t - 1px)) {
      margin-top: 12px;
    }

    @media (min-width: $breakpoint-t) {
      margin-left: $col-gap-t;
      padding-top: 0;
      padding-bottom: 81px;
    }

    @media (min-width: $breakpoint-d) {
      margin-left: calc(#{$col-d});
      padding-bottom: 159px;
      flex-grow: 1;

      &::before {
        position: absolute;
        left: 0;
        bottom: 0;

        content: "";
        width: calc(100% / 7 * 5 + #{$col-gap-d});
        height: 1px;

        background-color: var(--color-gray);
      }
    }

    @media (min-width: $breakpoint-xxd) {
      margin-left: calc(#{$col-gap-d});
      padding-bottom: 176px;

      &::before {
        width: 78%;
      }
    }

    @media (min-width: $breakpoint-xxxd) {
      max-width: 1133px;
    }
  }

  &__image {
    position: relative;
    z-index: 0;

    width: 288px;
    height: 216px;
    // max-width: 100%;
    overflow: hidden;

    border-radius: 4px;

    @media (min-width: $breakpoint-t) {
      width: 354px;
      height: 264px;
    }

    @media (min-width: $breakpoint-d) {
      width: 442px;
      height: 331px;
    }

    @media (min-width: $breakpoint-xxd) {
      width: 547px;
      height: 410px;
    }

    &-item {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      width: 0;
      display: flex;
      overflow: hidden;

      transition: width $duration;

      &--active {
        width: 100%;
      }
    }
  }
  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 288px;
    height: 216px;
    max-width: none;
    max-height: none;

    @media (min-width: $breakpoint-t) {
      width: 354px;
      height: 264px;
    }

    @media (min-width: $breakpoint-d) {
      width: 442px;
      height: 331px;
    }

    @media (min-width: $breakpoint-xxd) {
      width: 547px;
      height: 410px;
    }
  }

  &__controls {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    @media (min-width: $breakpoint-t) {
      top: auto;
      bottom: 0;
    }

    @media (min-width: $breakpoint-d) {
      top: 0;
      bottom: auto;
      left: auto;
      right: 0;
    }
  }
  &__control {
    width: 50px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--color-gray);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color $transition, border-color $transition;

    &:last-child {
      margin-left: 4px;

      @media (min-width: $breakpoint-d) {
        margin-left: 12px;
      }
    }

    &:hover {
      background-color: var(--color-blue);
      border-color: var(--color-blue);

      #{$component}__arrow {
        path {
          fill: var(--color-white);
        }
      }
    }

    @media (min-width: $breakpoint-d) {
      width: 86px;
      height: 68px;
    }

    @media (min-width: $breakpoint-xxd) {
      width: 96px;
    }

    &--next {
      #{$component}__arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__arrow {
    path {
      transition: fill $transition;
    }

    &--small {
      @media (min-width: $breakpoint-d) {
        display: none;
      }
    }

    &--large {
      @media (max-width: ($breakpoint-d - 1px)) {
        display: none;
      }
    }
  }

  &__texts {
    display: grid;
    grid-template-areas: "place";
    overflow: hidden;
  }
  &__text {
    @keyframes out {
      from {
        transform: translateY(0);

        opacity: 1;
      }

      to {
        transform: translateY(-100%);

        opacity: 0;
      }
    }

    @keyframes in {
      from {
        transform: translateY(100%);

        opacity: 0;
      }

      to {
        transform: translateY(0);

        opacity: 1;
      }
    }

    grid-area: place;

    opacity: 0;

    &--active {
      position: relative;
      z-index: 1;
    }

    &--out {
      animation: out #{$duration / 2} $transition-function forwards;
    }

    &--in {
      animation: in #{$duration / 2} $transition-function #{$duration / 2}
        forwards;
    }

    &--pre-in {
      transform: translateY(100%);
    }
  }

  &__dates {
    position: absolute;
    right: 0;

    @media (max-width: ($breakpoint-t - 1px)) {
      top: 0;
    }

    @media (min-width: $breakpoint-t) {
      bottom: 0;
    }
  }
  &__date {
    font-family: $ff-2;
    font-weight: 400;
    font-size: 72px;
    line-height: 0.85;
    color: var(--color-blue);

    @media (min-width: $breakpoint-d) {
      font-size: 140px;
    }

    @media (min-width: $breakpoint-xxd) {
      font-size: 160px;
    }
  }

  &__articles {
    @media (min-width: $breakpoint-d) {
      width: calc(100% / 7 * 4);
    }
  }
  &__article {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;

    @media (min-width: $breakpoint-d) {
      font-size: 18px;
    }

    @media (min-width: $breakpoint-xxd) {
      font-size: 20px;
    }
  }
}
