.page {
  @media (min-width: $breakpoint-d) {
    display: grid;
    grid-template-columns: repeat(12, calc(#{$col-d}));
    column-gap: $col-gap-d;
  }

  &--margin {
    &--default {
      margin-top: 24px;

      @media (min-width: $breakpoint-d) {
        margin-top: 80px;
      }
    }
  }

  &__main {
    @media (min-width: $breakpoint-d) {
      grid-column: 1 / span 8;
    }
    
    @media (min-width: $breakpoint-xxxd) {
      grid-column: 1 / span 7;
    }
  }

  &__aside {
    @media (min-width: $breakpoint-d) {
      grid-column: span 4 / -1;
    }
  }
}
