.page {
  @media (min-width: $breakpoint-d) {
    display: grid;
    grid-template-columns: repeat(12, calc(#{$col-d}));
    column-gap: $col-gap-d;
  }

  &__main {
    @media (min-width: $breakpoint-d) {
      grid-column: 1 / span 8;
    }
  }

  &__aside {
    @media (min-width: $breakpoint-d) {
      grid-column: span 4 / -1;
    }
  }
}
