.page {
  @media (min-width: $breakpoint-d) {
    display: grid;
    grid-template-columns: repeat(12, calc(#{$col-d}));
    column-gap: $col-gap-d;
  }

  &--margin {
    &--default {
      margin: 24px 0 48px;

      @media (min-width: $breakpoint-d) {
        margin-top: 80px;
      }
    }

    &--page {
      margin: 28px 0 48px;

      @media (min-width: $breakpoint-d) {
        margin: 40px 0 80px;
      }
    }
  }

  &__main {
    @media (min-width: $breakpoint-d) {
      grid-column: 1 / span 8;
    }

    @media (min-width: $breakpoint-xxxd) {
      grid-column: 1 / span 7;
    }
  }

  &__aside {
    @media (max-width: ($breakpoint-d - 1px)) {
      margin-top: 48px;
    }

    @media (min-width: $breakpoint-d) {
      grid-column: span 4 / -1;
    }

    &-content {
      @media (min-width: $breakpoint-d) {
        position: sticky;
        top: 144px;
      }
      
      @media (min-width: $breakpoint-d) {
        margin-left: auto;
        max-width: 507px;
      }

      &--main {
        @media (min-width: $breakpoint-t) and (max-width: ($breakpoint-d - 1px)) {
          display: grid;
          grid-template-columns: repeat(#{$col-count-t}, calc(#{$col-t}));
          column-gap: $col-gap-t;
        }
      }
    }

    &--border {
      @media (min-width: $breakpoint-d) {
        position: relative;
  
        &::before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: -$col-gap-d;

          content: '';
          width: 1px;

          background-color: var(--color-gray);
        }
      }
    }
  }
}
