.top {
  position: relative;

  // ! background

  &__bg {
    @keyframes top-bg {
      from {
        transform: scale(1.1);
      }
      to {
        transform: scale(1);
      }
    }

    position: absolute;
    @include inset();

    width: 100%;
    height: 100%;
    object-position: center top;
    object-fit: cover;

    animation: top-bg 1500ms $transition-function;
  }

  &__background {
    position: relative;
    height: 220px;

    overflow: hidden;

    @media (min-width: $breakpoint-t) {
      height: 274px;
    }

    @media (min-width: $breakpoint-d) {
      height: 488px;
    }

    @media (min-width: $breakpoint-xxd) {
      height: 600px;
    }

    &-container {
      padding-bottom: 8px;
      height: 100%;
      display: flex;
      align-items: flex-end;

      @media (min-width: $breakpoint-d) {
        padding-bottom: 23px;
      }
    }
  }

  &__title,
  &__logo {
    @media (max-width: ($breakpoint-t - 1px)) {
      display: none;
    }
  }

  &__title {
    font-size: 92px;
    line-height: 1;
    color: var(--color-white);

    @media (min-width: $breakpoint-d) {
      font-size: 180px;
      line-height: 0.85;
    }
  }

  &__logo {
    position: absolute;
    bottom: 0;
    right: 0;

    @media (max-width: ($breakpoint-d - 1px)) {
      max-width: 46px;
    }
  }

  // ! front

  &__front {
    padding: 24px 0;

    @media (max-width: ($breakpoint-d - 1px)) {
      background-color: var(--color-white);
    }

    @media (min-width: $breakpoint-d) {
      position: absolute;
      @include inset();

      padding: 186px 0 23px 0;
      pointer-events: none;
    }

    @media (min-width: $breakpoint-xxd) {
      padding-top: 234px;
    }

    &-content {
      @media (min-width: $breakpoint-d) {
        margin-left: auto;
        width: calc(#{$col-with-gap-d} * 4);
        pointer-events: all;
      }

      @media (min-width: $breakpoint-xxd) {
        width: calc(#{$col-with-gap-d} * 4 - #{$col-gap-d});
      }
    }
  }

  &__text {
    margin-bottom: 12px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;

    @media (min-width: $breakpoint-t) {
      font-size: 16px;
    }

    @media (min-width: $breakpoint-d) {
      margin-bottom: 40px;
      max-width: 405px;

      font-size: 20px;
      line-height: 1.3;
      color: var(--color-white);
    }

    @media (min-width: $breakpoint-xxd) {
      font-size: 22px;
    }
  }

  &__link {
    width: 136px;

    @media (min-width: $breakpoint-d) {
      width: 125px;

      color: var(--color-white);
    }
  }
}
