extends ../layouts/master



block header
block footer

block grid-test



block content
  .grid
    each repeat in [1, 2, 3]
      .grid__item 1
      .grid__item 2
      .grid__item 3
      .grid__item 3
      .grid__item 3

