extends ../layouts/master

block header
block footer

block content
  .about-top
    .container
      img.about-top__photo(src='assets/images/chesnakov-photo-2.jpg')
      h1.about-top__title
        |Алексей чеснаков
      .about-top__bottom
        .about-top__left
          .about-top__text
            |Более 30 лет занимаюсь аналитикой политических процессов и событий. Являюсь одним из самых известных и цитируемых российских экспертов в сфере политики.
        .about-top__right
          .about-top__contacts
            h3.about-top__sub-title
              |контакты
            ul.about-top__list
              li.about-top__item
                a.about-top__link(href='#')
                  +vk-svg.about-top__link-svg.about-top__link-svg--vk
                  .about-top__link-text
                    |Вконтакте
              li.about-top__item
                a.about-top__link(href='#')
                  +fb-svg.about-top__link-svg.about-top__link-svg--fb
                  .about-top__link-text
                    |Facebook
              li.about-top__item
                a.about-top__link(href='#')
                  +tg-svg.about-top__link-svg.about-top__link-svg--tg
                  .about-top__link-text
                    |Telegram
            .about-top__email
              a.about-top__email-link(href=`mailto:${data.email}`)
                |#{data.email}
