extends ../layouts/master

block header
block footer

block burger

block content
  .container
    .choice
      .choice__panel-wrapper
        .choice__panel
          h1
            |политическая экспертиза
          .choice__button
            +arrow-svg.choice__arrow-svg
      .choice__drop
        .choice__drop-content
          .container
            .tags.tags--themes
              ul.tags__list.choice__list
                li.tags__item.choice__item
                  a.choice__link.choice__link--active(href='#')
                    |Все
                -
                  var items = [
                    'Колонки',
                    'Интервью',
                    'Экспертные комментарии',
                    'Подскасты',
                    'Видео',
                  ]
                each item in items
                  li.tags__item.choice__item
                    a.choice__link(href='#')= item
