extends ../layouts/master

block header
block footer

block grid-test

block content
  .block
    a.block__link(href='#')
      |block
      .block__arrow.block__arrow--active
      .block__arrow.block__arrow--default
