extends ../layouts/master

block header
block footer

block content
  form(data-url='wow' data-success-status='mail_sent' data-success-event='wowow')
    div
      input(required name='name')
    div
      input(type='email' required name='email')
    button
      |submit
