extends ../layouts/master

block header
block footer

block content
  .container
    .n-page
      .n-page__main
        .n-page__main-container
          |main
      .n-page__aside
        .n-page__aside-container
          |aside
