extends ../layouts/master

block header
block footer

block grid-test

block content
  .button
    a.button__button(href='#')
      |button
  .button
    a.button__button.button__button--small(href='#')
      |button
  .button
    a.button__button.button__button--custom(href='#')
      |button
