extends ../layouts/master

block header
block footer

block content
  
  .container

    .pagination
      a.pagination__next(href='#')
        +pagination-next-svg.pagination__next-svg.pagination__next-svg--default
        +pagination-next--large-svg.pagination__next-svg.pagination__next-svg--large
      .pagination__pages
        .pagination__left
          .pagination__left-item.pagination__page-wrapper
            a.pagination__page.pagination__page--active(href="#")
              |1
          .pagination__left-item.pagination__page-wrapper
            a.pagination__page(href="#")
              |2
          .pagination__left-item.pagination__page-wrapper
            a.pagination__page(href="#")
              |3
        .pagination__between
          |...
        .pagination__right
          a.pagination__page(href="#")
            |12
