extends ../layouts/master

block header
block footer

block grid-test

block content
  .arrow-link
    a.arrow-link__link(href='#')
      |link
      .arrow-link__arrow.arrow-link__arrow--active
      .arrow-link__arrow.arrow-link__arrow--default
