@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-Semibold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Kizo";
  src: url("../assets/fonts/Kizo.ttf") format("truetype");
}
