@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Kizo";
  src: url("../fonts/Kizo.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
