.page-publications-detail {
  &__breadcrumbs {
    margin-top: 76px;

    @media (min-width: $breakpoint-t) {
      margin-top: 72px;
    }

    @media (min-width: $breakpoint-d) {
      margin-top: 144px;
    }
  }

  &__aside {
    @media (min-width: $breakpoint-d) {
      position: relative;

      padding: 200px 0 80px;
    }

    @media (min-width: $breakpoint-xxd) {
      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -$col-gap-d;

        content: "";
        width: 1px;

        background-color: var(--color-gray);
      }
    }
  }

  &__page {
    @media (max-width: ($breakpoint-d - 1px)) {
      margin-bottom: 48px;
      padding-top: 72px;
    }

    @media (max-width: ($breakpoint-t - 1px)) {
      padding-top: 76px;
    }
  }

  &__main {
    @media (min-width: $breakpoint-d) {
      padding-top: 144px;
      padding-bottom: 80px;

      grid-column: 1/span 7;
    }
  }

  &__title {
    margin-top: 28px;

    @media (min-width: $breakpoint-d) {
      margin-top: 40px;
    }
  }

  &__themes {
    margin-top: 48px;

    @media (min-width: $breakpoint-d) {
      margin-top: 80px;
    }
  }

  &__socials {
    margin-top: 48px;

    @media (min-width: $breakpoint-d) {
      margin-top: 80px;
    }
  }
}

.table {
  margin-top: 12px;

  @media (min-width: $breakpoint-t) {
    margin-top: 24px;
    display: grid;
    column-gap: $col-gap-t;
    grid-template-columns: repeat(8, calc((100% - 7 * #{$col-gap-t}) / 8));
  }

  @media (min-width: $breakpoint-d) {
    margin-top: 40px;
    column-gap: $col-gap-d;
    grid-template-columns: repeat(8, calc((100% - 7 * #{$col-gap-d}) / 8));
  }

  @media (min-width: $breakpoint-xxxd) {
    grid-template-columns: repeat(7, calc((100% - 6 * #{$col-gap-d}) / 7));
  }

  &__place {
    @media (max-width: ($breakpoint-t - 1px)) {
      &:not(:first-child) {
        margin-top: 12px;
      }
    }

    @media (min-width: $breakpoint-t) {
      &:nth-child(1) {
        grid-area: 1 / 1 / span 1 / span 1;
      }

      &:nth-child(2) {
        grid-area: 1 / 2 / span 1 / span 2;
      }

      &:nth-child(3) {
        grid-area: 1 / 4 / span 1 / span 2;
      }

      &:nth-child(4) {
        grid-area: 1 / 6 / span 1 / span 3;
      }
    }

    @media (min-width: $breakpoint-xxxd) {
      &:nth-child(4) {
        grid-area: 1 / 6 / span 1 / span 2;
      }
    }
  }

  &__title {
    font-size: 12px;
    line-height: (16 / 12);
    text-transform: uppercase;

    @media (min-width: $breakpoint-d) {
      font-size: 16px;
      line-height: (22 / 16);
    }
  }

  &__list {
    margin-top: 4px;

    @media (min-width: $breakpoint-d) {
      margin-top: 11px;
    }

    &-list {
      margin-top: -4px;
      margin-left: -4px;
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      margin-top: 4px;
      margin-left: 4px;
      padding: 3px 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px solid var(--color-gray);
      border-radius: 4px;
      font-size: 10px;
      line-height: (14 / 10);
      color: var(--color-gray-dark);
      text-transform: uppercase;
      transition: border-color $transition, background-color $transition,
        color $transition;

      @media (min-width: $breakpoint-d) {
        font-size: 14px;
        line-height: (19 / 14);
      }

      &:hover {
        background-color: var(--color-blue);
        border-color: var(--color-blue);
        color: var(--color-white);
      }
    }
  }
}

.content {
  margin-top: 20px;

  @media (min-width: $breakpoint-t) {
    margin-top: 24px;
  }

  @media (min-width: $breakpoint-d) {
    margin-top: 40px;
  }

  h2 {
    margin-bottom: 16px;

    font-family: $ff-1;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;
    text-transform: none;

    @media (min-width: $breakpoint-d) {
      margin-bottom: 32px;

      font-size: 28px;
    }
  }

  p {
    margin: 12px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;

    @media (min-width: $breakpoint-d) {
      margin: 20px 0;

      font-size: 16px;
    }
  }

  ul {
    margin-top: 16px;
    margin-bottom: 40px;

    @media (min-width: $breakpoint-d) {
      margin-top: 32px;
      margin-bottom: 60px;
    }

    li {
      position: relative;

      padding-left: 25px;

      font-weight: 500;
      font-size: 14px;
      line-height: 1.8;

      @media (min-width: $breakpoint-d) {
        font-size: 16px;
      }

      &::before {
        position: absolute;
        top: 5px;
        left: 0;

        content: "●";

        font-weight: 500;
        font-size: 10px;
        line-height: 1.8;
        color: var(--color-blue);

        @media (min-width: $breakpoint-d) {
          font-size: 12px;
        }
      }

      &:not(:first-child) {
        margin-top: 12px;

        @media (min-width: $breakpoint-d) {
          margin-top: 20px;
        }
      }
    }
  }

  blockquote {
    position: relative;

    margin-top: 54px;
    margin-bottom: 40px;
    padding-bottom: 16px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;
    color: var(--color-blue);

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      @media (min-width: $breakpoint-t) {
        right: calc((100% - #{$col-gap-t} * 5) / 6 + #{$col-gap-t});
      }
      @media (min-width: $breakpoint-d) {
        right: 0;
      }

      content: '';
      height: 1px;

      background-color: var(--color-gray);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: calc(100% + 4px);
      left: 0;
      @media (min-width: $breakpoint-t) {
        right: calc(100% + 20px);
        top: 0;
        left: auto;
        bottom: auto;
      }
      @media (min-width: $breakpoint-d) {
        right: calc(100% + 40px);
      }
      width: 42px;
      height: 38px;
      @media (min-width: $breakpoint-t) {
        width: 74px;
        height: 67px;
      }
      @media (min-width: $breakpoint-d) {
        width: 97px;
        height: 87px;
      }

      background-image: url("data:image/svg+xml,%3Csvg width='74' height='68' viewBox='0 0 74 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M65.3667 67.4706H38.2333L56.7333 0H74L65.3667 67.4706ZM27.1333 67.4706H0L18.0889 0H35.7667L27.1333 67.4706Z' fill='%23EDEFF3'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    @media (min-width: $breakpoint-t) {
      margin-top: 40px;
      padding-bottom: 20px;
    }

    @media (min-width: $breakpoint-d) {
      margin-top: 60px;
      margin-bottom: 60px;
      padding-bottom: 32px;

      font-size: 18px;
    }
  }
}

.content-wrapper {
  @media (min-width: $breakpoint-t) {
    margin-left: calc(#{$col-with-gap-t});
    margin-right: calc(#{$col-with-gap-t});
  }
  @media (min-width: $breakpoint-d) {
    margin-right: 0;
    margin-left: calc((100% - #{$col-gap-d} * 6) / 7 + #{$col-gap-d});
  }

  &--desktop {
    @media (max-width: ($breakpoint-d - 1px)) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.content-container {
  @media (min-width: $breakpoint-d) {
    margin-right: calc(((100% - #{$col-gap-d} * 5) / 6 + #{$col-gap-d}));
  }
}

.back {
  margin-top: 48px;
  display: flex;

  @media (min-width: $breakpoint-d) {
    margin-top: 80px;
  }

  &__link {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    transition: border-color $transition, background-color $transition;
    
    @media (min-width: $breakpoint-d) {
      height: 68px;
    }

    &:hover {
      background-color: var(--color-blue);
      border-color: var(--color-blue);

      .back__text {
        color: var(--color-white);
      }

      .back__svg {
        path {
          fill: var(--color-white);
        }
      }
    }
  }

  &__icon {
    margin-right: 15px;
    @media (min-width: $breakpoint-d) {
      margin-right: 20px;
    }
  }

  &__svg {
    @media (min-width: $breakpoint-d) {
      display: none;
    }

    transform: rotate(180deg);

    path {
      transition: fill $transition;
    }

    &--desktop {
      display: none;
      @media (min-width: $breakpoint-d) {
        display: block;
      }
    }
  }

  &__text {
    font-size: 10px;
    line-height: (14 / 10);
    text-transform: uppercase;
    transition: color $transition;

    @media (min-width: $breakpoint-d) {
      font-size: 14px;
      line-height: (19 / 14);
    }
  }
}
