block variables

include ../components/svg

include ../components/head

include ../components/header
include ../components/footer

include ../components/burger
include ../components/modal

include ../components/grid-test

doctype html

html(lang='ru')
  
  +head
  
  body.body.no-transition(class = pageName ? `page-${pageName}` : false)

    block header
      +header

    main
      block content

    block footer
      +footer

    block burger
      +burger

    block modal
      +modal

    block grid-test
      +grid-test
    
    block scripts
