block variables

include ../components/svg

include ../components/header
include ../components/footer

include ../components/burger

include ../components/grid-test

doctype html

html(lang='ru')
  
  head

    meta(charset="utf-8")
    title= data.title
    meta(name="viewport" content="width=device-width, initial-scale=1")
  
  body(class = pageName ? `page-${pageName}` : false)

    block header
      +header

    main
      block content

    block footer
      +footer

    block grid-test
      +grid-test

    block burger
      +burger

    .modal
      .modal__shadow
      .modal__popup
        .modal__close.close-button(data-modal-close)
          +cross-svg.close-button__svg
        .modal__request
          .modal__request-content
            h2.modal__title
              |Задать вопрос
            form.modal__form(data-url='url' data-success-status='mail_sent' data-success-action='modal-response-open')
              .modal__field
                input.modal__input(type='text' required placeholder='имя' name='name')
                .modal__error
                  |Поле заполнено неверно
              .modal__field
                input.modal__input(type='email' required placeholder='e-mail' name='email')
                .modal__error
                  |Поле заполнено неверно
              .modal__field.modal__field--textarea
                textarea.modal__input.modal__input--textarea(required placeholder='сообщение' name='message')
                .modal__error
                  |Поле заполнено неверно
              label.modal__check
                input.modal__check-input(type='checkbox' required name='agreement')
                .modal__check-mark
                  +check-mark-svg.modal__check-svg
                .modal__check-text
                  |Согласен на обработку персональных данных в соответствии c 
                  a.modal__check-link(href='#')
                    |политикой конфиденциальности
              .button
                button.button__button.modal__button(type='submit' data-modal-response)
                  |подписаться
        .modal__response
          .modal__response-text
            |Спасибо. Я получил ваш вопрос и отвечу на него как только смогу.

    block scripts
