block variables

include ../components/svg

include ../components/header
include ../components/footer

include ../components/burger
include ../components/modal

include ../components/grid-test

doctype html

html(lang='ru')
  
  head

    meta(charset="utf-8")
    title= data.title
    meta(name="viewport" content="width=device-width, initial-scale=1")
  
  body(class = pageName ? `page-${pageName}` : false)

    block header
      +header

    main
      block content

    block footer
      +footer

    block burger
      +burger

    block modal
      +modal

    block grid-test
      +grid-test
    
    block scripts
