mixin header
  header.header
    .container
      .header__grid
        .header__area.header__area--1
          |1
        .header__area.header__area--2
          |2
        .header__area.header__area--3
          |3
        .header__area.header__area--4
          |4
        .header__area.header__area--5
          |5
        .header__area.header__area--6
          |6

