mixin header
  header.header
    .container
      .header__grid
        .header__grid-item
          a.header__logo.u-display-flex(href='#')
            +logo-svg

        .header__grid-item
          |nav
        .header__grid-item
          |about
        .header__grid-item
          |socials
        .header__grid-item
          |email

        .header__grid-item
          |button

        .header__grid-item
          a.u-display-flex(href=`mailto:${data.email}`)
            +email-button-svg
        .header__grid-item
          .u-display-flex
            +menu-button-svg(data-menu-button='open')
