mixin header
  header.header
    .container
      .header__row
        .header__col
          +logo.header__logo
        .header__col
          nav.header__nav
            ul.header__list
              - 
                var items = [
                  'Политическая экспертиза',
                  'Мероприятия',
                  'Книжная критика',
                ]
              each item in items
                li.header__list-item
                  a.header__link(href='#')
                    |#{item}
        .header__col
          nav.header__nav
            a.header__link(href='#')
              |Обо мне
        .header__col
          ul.header__list
            each item in data.socials
              li.header__list-item
                a.header__link(href='#')
                  |#{item}
        .header__col
          - var email = 'info@chesnakov.ru'
          a.header__link(href=`mailto:${email}`)
            |#{email}
        .header__col
          a.button(href='#')
            |задать вопрос

