mixin top
  section.top
    .top__background
      +logo-icon-svg.top__logo
      .container.top__background-container
        h1.top__title
          |политолог
    .top__front
      .container
        .top__front-content
          p.top__text
            |Более 30 лет занимаюсь аналитикой политических процессов и событий. Являюсь одним из самых известных и цитируемых российских экспертов в сфере политики.
          .arrow-link
            a.arrow-link__link.top__link(href='#')
              |подробнее
              .arrow-link__arrow.arrow-link__arrow--back
              .arrow-link__arrow.arrow-link__arrow--front
