mixin top
  section.top
    .top__background
      img.top__bg(src='assets/images/chesnakov-photo.jpg')
      .container.top__background-container
        h1.top__title-container
          .word.word--align.word--left
            .word__block
              each letter in 'алексей'.split('')
                .word__letter.top__title= letter
          .word.word--align
            .word__block
              each letter in 'чеснаков'.split('')
                .word__letter.top__title= letter
    .top__front
      .container
        .top__front-content(data-aos='fade-up')
          p.top__text
            |Более 30 лет занимаюсь аналитикой политических процессов и событий. Являюсь одним из самых известных и цитируемых российских экспертов в сфере политики.
          .arrow-link.arrow-link--top
            a.arrow-link__link.top__link(href='#')
              |подробнее
              .arrow-link__arrow.arrow-link__arrow--back
              .arrow-link__arrow.arrow-link__arrow--front
