.u {
  // display
  &-display-flex {
    display: flex;
  }
  &-display-none-m {
    @media (max-width: ($breakpoint-t - 1px)) {
      display: none;
    }
  }

  // margin
  &-margin-10 {
    margin: 10px;
  }
  &-margin-auto {
    margin: auto;
  }
  // margin-top
  &-margin-top-10 {
    margin-top: 10px;
  }
  &-margin-top-40 {
    margin-top: 40px;
  }
}
